body {
  background-color: rgb(201, 201, 121);
  color: black;
  opacity: 0.87;
  margin: 10px;
  padding: 10px;
  border: 5px black solid;
}

li{display: inline-block;}

h1 {
  color: black;
  text-align: center;
}

input[readonly] {
  background-color: #dcdcdc;
}

  /* visited link */
  a:visited {
    color: purple;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color:#F7DCD0 ;
    background-color: #FFF5F0;
    border: 1px black solid;
  }

  p{
    color: black;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

 h3{
    color: black;
  }

  form {
    color:black;
  }

  span {
    content: "\0024";
  }

  h2 {
    color: black;
    text-align: center;
  }

cost{
  text-shadow: yellow;
}