{% extends 'base.html' %} {% block body %}
<h2>About Vertical Tank Maintenence</h2>
<a href="https://placeholder.com"><img src="https://via.placeholder.com/150" alt="Company President"></a>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Nemo dicta qui enim temporibus quidem cumque quam error numquam 
    ipsam velit vitae sapiente, modi officia et nihil. Omnis doloribus
    maiores accusantium!
</p>

<p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. 
     Repellendus asperiores tempora itaque molestias iure 
     hic atque in enim, officia, quas minima nemo quos aut,
     quo aliquid? Porro blanditiis nemo ipsa!
</p>
    
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing 
    elit. Illo, odio fugit vero distinctio esse deserunt, 
    praesentium ut nihil aperiam sed quidem recusandae 
    autem cupiditate quod. Fugit a consectetur non. Corrupti!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Corporis accusantium dolorum aliquam corrupti dignissimos
    cumque non inventore quae earum eligendi et porro, sapiente quaerat. 
    Laborum doloremque deleniti distinctio qui itaque?
</p>
<p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Eligendi repellat qui maiores officia recusandae reiciendis 
    iusto necessitatibus illum quod, dolore vel iste consequuntur 
    corrupti culpa voluptatibus facilis optio quae? Veritatis!
</p>
{% endblock %}
