
   
{% extends 'base.html' %} {% block body %}

<h2> VTM Page Welcome! </h2>

<div>
    <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" alt="Service Area"></a> 
    <img src="{{ url_for('static', filename='images/above_ground_vertical_tanks.jpg') }}", class="center">

    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Maxime iste aliquid id at iure distinctio reprehenderit minima, 
    pariatur facere assumenda molestiae quaerat quos quisquam tempore
     blanditiis similique! Amet, repellendus corporis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi temporibus 
        qui sint porro natus! Quas, id? Suscipit nesciunt, eligendi quod ab ipsa incidunt. 
        Neque, perferendis! Optio qui perspiciatis velit vitae?
    </p>



</div>

{% endblock %}

